<h2>Employee List :</h2>
<div *ngIf="StoredEmployeeList.length > 0; else noEmployees">
  <table>
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of StoredEmployeeList">
        <td>{{ employee.empID }}</td>
        <td>{{ employee.name }}</td>
        <td>
          <button (click)="viewEmployeeDetails(employee.empID)">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noEmployees>
  <p>No employees found.</p>
</ng-template>

<button (click)="Reroute()">Add Employee</button>
